{% load cms_tags staticfiles sekizai_tags %}
<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <title>{% block title %}{% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    {% render_block "css" %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "djangocms_snug/css/angular-material.min.css" %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="{% static "djangocms_snug/css/app.css" %}"/>
    {% endaddtoblock %}
</head>
<body layout="column">
<section ui-view></section>
{% render_block "js" %}
{% addtoblock "js" %}
    <script type="application/javascript" src="{% static "djangocms_snug/js/app.js" %}"></script>
    <script type="application/javascript" src="{% static "djangocms_snug/js/templates.js" %}"></script>
{% endaddtoblock %}
</body>
</html>
